
/conll_test_features.zip
/conll_train.zip
/conll_test_features/
/conll_train/
.idea/Classifying-Chunk-Tags-with-Gaussian-Process-Models.iml
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
9418/.idea/
9418/11.py
9418/2.py
9418/conll_test_features/
9418/conll_train/
9418/solution.py
https.pdf
result/
/result/predict.txt
/9418/.idea/
/9418/conll_test_features/
/9418/conll_train/
!/9418/
